body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.selected-move{
  font-weight: bold;
}

.highlight-winner{
  background-color:#666666;
}


.tabs {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
}

.tabContent {
  border: 1px solid #ccc;
}



.equalPasswords{
  color: green;
}

.notEqualPasswords{
  color: red;
}


.container {
  padding: auto;
  width:55%;
  margin: auto;
  text-align:center;
}

.submitButton {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 10px;
  border: none;
  width: 20%;
}
